@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0.99;
    font-family: 'Poppins', sans-serif;
}

::selection{
    color: #ffffff;
    background: #257AFD;
}

::-webkit-scrollbar{
    width: 3px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #dddddd;
}
::-webkit-scrollbar-thumb:hover{
    background: #cccccc;
}
.wrapper {
    opacity: 0;
    animation-name: fade-in-bottom;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    transform: translateY(100%);
}

@keyframes fade-in-bottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
.wrapper{
    width: 500px;
    border-radius: 25px 25px 5px 5px;
    border: 2px solid lightgrey;
    border-top: 0px;
}
.wrapper .title{
    background: #000000;
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    border-bottom: 1px solid #000000;
    border-radius: 25px 25px 0 0;
}
.wrapper .form{
    padding: 20px 15px;
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
}
.wrapper .form .inbox{
    width: 100%;
    display: flex;
    align-items: baseline;
}
.wrapper .form .user-inbox{
    justify-content: flex-end;
    margin: 13px 0;
}
.wrapper .form .inbox .icon{
    height: 40px;
    width: 40px;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 18px;
    background: #000000;
}
.wrapper .form .inbox .msg-header {
    max-width: 60%;
    margin-left: 10px;
}

.form .inbox .msg-header p {
    color: #ffffff;
    background: #000000;
    border-radius: 20px;
    padding: 8px 10px;
    font-size: 14px;
    overflow-wrap: break-word;
    margin-bottom: 5px;
}

.form .user-inbox .msg-header p {
    color: #333;
    background: #efefef;
}

.wrapper .typing-field {
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background: #efefef;
    border-top: 1px solid #d9d9d9;
    border-radius: 0 0 5px 5px;
}

.wrapper .typing-field .input-data {
    height: 70px;
    width: 450px;
    position: relative;
}

.wrapper .typing-field .input-data textarea {
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid transparent;
    padding: 5px 80px 5px 15px;
    border-radius: 20px;
    font-size: 15px;
    background: #ffffff;
    transition: all 0.3s ease;
    resize: none; /* allows the user to resize the textarea vertically */
}

.wrapper .typing-field .input-data textarea:focus {
    border-color: #000000;
}

.input-data textarea::placeholder {
    color: #999999;
    transition: all 0.3s ease;
}

.input-data textarea:focus::placeholder {
    color: #bfbfbf;
}

.wrapper .typing-field .input-data button {
    position: absolute;
    right: 5px;
    top: 50%;
    height: 30px;
    width: 65px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    opacity: 0;
    pointer-events: none;
    border-radius: 50px;
    background: #000000;
    border: 1px solid #000000;
    transform: translateY(0%);
    transition: all 0.3s ease;
}

.wrapper .typing-field .input-data textarea:valid ~ button {
    opacity: 1;
    pointer-events: auto;
}

.typing-field .input-data button:hover {
    background: #000000;
}

.pulse {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

.message{
    color: #ffffff;
    background: #000000;
    border-radius: 20px;
    padding: 8px 10px;
    font-size: 14px;
    overflow-wrap: break-word;
    margin-bottom: 5px;
}

.message span{
    display: block;
}